body {
    background-color: #fbc326;
    margin: 60px
}

.homeTitleHeader {
    font-family: 'Six Caps', sans-serif;
    text-align: left;
    font-size: 90px;
}

h1 {
    font-family: 'Six Caps', sans-serif;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 20px
}

.quizButton {
    background-color: #d4320e;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    padding: 32px 16px;
    transition-duration: 0.4s;
}

.quizButton:hover {
    background-color: #1d7d9e;
    color: white;
}

nav {
    font-family: 'Montserrat', sans-serif;
}

span {
    color: #d4320e;
}


/* Add a background color to the top navigation */

.siteNav {
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.siteNav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.siteNav a:hover {
    background-color: #1d7d9e;
    color: white;
}


/* Add a color to the active/current link */

.siteNav a.active {
    background-color: #1d7d9e;
    color: white;
}